# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
bin/
*.exe
*.out
*.app

# Intermediate Representation
*.ir

# asm files
*.s

# Shell Scripts
*.sh

#CLion
*.xml
*.iml
